.header-logo-text {
  background: -webkit-linear-gradient(60deg, #4796e3, #336dff, #492cbe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.link-color {
  background: -webkit-linear-gradient(35deg, #4796e3, #336dff, #492cbe);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.chatList_Section {
  overflow: scroll;
  scrollbar-width: none;
}

.chatList_Section::-webkit-scrollbar {
  display: none;
}

.logo-rotate-anime {
  animation: rotate 10s infinite ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

ul {
  list-style-type: none;
}

/* -------------------------------------- */
/* Response Loading */
/* -------------------------------------- */
.activeLoading {
  animation: LogoAnime 2s infinite linear;
}
@keyframes LogoAnime {
    0% { transform: rotate(0deg) } 
    100% { transform: rotate(360deg)  }
} */


/* -------------------------------------- */
/* Response Ai Formating */
/* -------------------------------------- */
pre {
  background: #1e1f20 !important; 
  border-radius: 5px 5px 10px 10px !important;
  max-width: 60vw;
  overflow: scroll;
}

code {
  background: #1e1f20 !important; 
  border-radius: 5px 5px 10px 10px !important;
  max-width: 60vw;
  overflow: scroll;
}

.aiResponse hr {
  border-color: #555;
  margin: 15px 0;
}

/* ------------------------------------------------ */
/* From Uiverse.io by tiagoadag1203 */ 
/* ------------------------------------------------ */
.input {
  box-shadow: none;
  transition: all .3s ease-in-out;
}

.input.active {
  animation: rotateShadow 3s infinite linear;
  transition: all .3s ease-in-out;
}

.voiceButtonGlowingAnimation {
  box-shadow: none;
  transition: all .3s ease-in-out;
}

.voiceButtonGlowingAnimation.active {
  animation: rotateShadow 5s infinite linear;
  transition: all .3s ease-in-out;
}

@keyframes rotateShadow {
  0% {
    box-shadow: -2px -2px 8px 1px #4796e3, 2px 2px 8px 1px #336dff;
  }
  25% {
    box-shadow: -2px 2px 8px 1px #371e98, 2px -2px 8px 1px #4796e3;
  }
  50% {
    box-shadow: 2px 2px 8px 1px #336dff, -2px -2px 8px 1px #371e98;
  }
  75% {
    box-shadow: 2px -2px 8px 1px #4796e3, -2px 2px 8px 1px #336dff;
  }
  100% {
    box-shadow: -2px -2px 8px 1px #371e98, 2px 2px 8px 1px #4796e3;
  }
}

/* ----------------------------------- */
/* Response Loading */
/* ----------------------------------- */
.box {
  background: #131313;
  /* padding: 16px 24px; */
  height: 40px;
  position: relative;
  border-radius: 8px;
  box-shadow: 0 0 0 1px rgba(0,0,0,.01);

  &::after {
    position: absolute;
    content: "";
    bottom: 10px;
    left: 0;
    right: 0;
    /* z-index: -1; */
    height: 100%;
    width: 100%;
    border-radius: 100%;
    transform: scale(0.9) translateZ(0);
    filter: blur(15px);
    background: linear-gradient(
      to left,
      #57f9ff,
      #42abe4,
      #2d58c4,
      #2f0b9c,
      #0f0876,
      #2f0b9c,
      #2d58c4,
      #42abe4,
      #57f9ff
    );
    background-size: 200% 200%;
    animation: animateGlow 1.25s linear infinite;
  }
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}




