* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
    /* color: #131727; */
}

.bg-video {
    filter: grayscale(1);
    /* mix-blend-mode: luminosity; */
}